mapped
xcelium
*xcelium*
.vscode
synth
.env
sims/*
vams/*
tests/sclibs.py
tests/logs
tests/scratch.py
*__pycache__*
DVEfiles
ams
psf
tb/*/*inputs*
.pytest_cache
.env
AN.DB
ams*
*scratch*
tb/*/*outputs*